.ellipse-11 {
  border-radius: 18px;
  background: #FFFFFF;
  position: absolute;
  top: 50%;
  right: 158px;
  translate: 0 -50%;
  width: 36px;
  height: 36px;
}
.vector-1 {
  margin: 20px 27.5px 36.4px 0;
  width: 20.8px;
  height: 16.6px;
}
.vector {
  width: 20.3px;
  height: 22.7px;
}
.carbonnotification {
  margin: 17.8px 65.3px 32.6px 0;
  display: flex;
  width: 25px;
  height: 25px;
  box-sizing: border-box;
}
.nom {
  margin: 0 1px 4px 1px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Noto Sans';
  font-weight: 600;
  font-size: 20px;
  color: var(--blanc, #FFFFFF);
}
.administrateur {
  overflow-wrap: break-word;
  font-family: 'Noto Sans';
  font-weight: 400;
  font-size: 14px;
  color: var(--blanc, #FFFFFF);
}
.container-4 {
  margin: 8px 24.7px 15px 0;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.group-1000004649 {
  margin-right: 14px;
  width: 70px;
  height: 73px;
}
.polygon-1 {
  border-radius: 2px;
  margin: 35px 0 17px 0;
  width: 23px;
  height: 21px;
}
.container-13 {
  position: relative;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.ellipse-1810 {
  border-radius: 5px;
  background: #BF1212;
  position: absolute;
  top: 50%;
  right: 438px;
  translate: 0 -50%;
  width: 10px;
  height: 10px;
}
.ellipse-1811 {
  border-radius: 5px;
  background: #BF1212;
  position: absolute;
  top: 50%;
  right: 489px;
  translate: 0 -50%;
  width: 10px;
  height: 10px;
}
.container-5 {
  background: #408A7E;
  position: relative;
  display: flex;
  padding: 44px 145px 11px 145px;
  box-sizing: border-box;
}
.group-1000004754 {
  position: relative;
  margin-bottom: 52.1px;
  box-sizing: border-box;
}
.vector-28 {
  width: 13.3px;
  height: 7.8px;
}
.group {
  margin-bottom: 2px;
  display: flex;
  width: 13.3px;
  height: 7.8px;
  box-sizing: border-box;
}
.vector-29 {
  width: 13.3px;
  height: 13.7px;
}
.group-1 {
  display: flex;
  width: 13.3px;
  height: 13.7px;
  box-sizing: border-box;
}
.container-21 {
  margin-right: 2.4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 13.3px;
  box-sizing: border-box;
}
.vector-31 {
  width: 13.3px;
  height: 13.7px;
}
.group-3 {
  margin-bottom: 2px;
  display: flex;
  width: 13.3px;
  height: 13.7px;
  box-sizing: border-box;
}
.vector-30 {
  width: 13.3px;
  height: 7.8px;
}
.group-2 {
  display: flex;
  width: 13.3px;
  height: 7.8px;
  box-sizing: border-box;
}
.container-18 {
  margin-bottom: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 13.3px;
  box-sizing: border-box;
}
.menu-1 {
  margin: 2.4px 26px 10px 0;
  display: flex;
  flex-direction: row;
  width: 29px;
  height: fit-content;
  box-sizing: border-box;
}
.tableau-de-bord {
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 24px;
  color: var(--noir, #000000);
}
.group-12 {
  margin: 0 0 44.3px 11px;
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.group-4 {
  width: 34px;
  height: 34.7px;
}
.frame-5 {
  margin: 0 20px 3.7px 0;
  display: flex;
  width: 34px;
  height: 34.7px;
  box-sizing: border-box;
}
.agents {
  margin-top: 2.4px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 24px;
  color: var(--noir, #000000);
}
.container-9 {
  margin: 0 105.8px 38.6px 0;
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.claritycalendar-line {
  margin: 5.1px 25px 3.4px 0;
  width: 34px;
  height: 27.6px;
}
.calendrier {
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 24px;
  color: var(--noir, #000000);
}
.container-12 {
  margin: 0 80.9px 38.9px 0;
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.product {
  width: 31px;
  height: 27.5px;
}
.frame-3 {
  margin: 4.3px 25px 4.2px 0;
  display: flex;
  width: 31px;
  height: 27.5px;
  box-sizing: border-box;
}
.commandes {
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 24px;
  color: var(--vert, #408A7E);
}
.container-6 {
  margin: 0 45.2px 39.3px 0;
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.guarantee-1 {
  margin: 3.6px 24px 6.4px 0;
  width: 32px;
  height: 26px;
}
.notes-et-avis {
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 24px;
  color: var(--noir, #000000);
}
.group-9 {
  margin: 0 50.8px 39.1px 0;
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.bill-1 {
  margin: 1.4px 24px 7px 0;
  width: 34px;
  height: 27.6px;
}
.recus {
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 24px;
  color: var(--noir, #000000);
}
.container-2 {
  margin: 0 125.8px 39.1px 0;
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.document-3 {
  margin: 0.7px 24px 6.1px 0;
  width: 36px;
  height: 29.2px;
}
.rapports {
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 24px;
  color: var(--noir, #000000);
}
.group-21 {
  margin: 0 90.9px 42px 0;
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.vector-57 {
  width: 34.9px;
  height: 21.7px;
}
.mingcuteshop-line {
  margin: 4.7px 22.6px 9.6px 0;
  display: flex;
  width: 40px;
  height: 32.5px;
  box-sizing: border-box;
}
.boutique {
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 24px;
  color: var(--noir, #000000);
}
.group-22 {
  margin: 0 90.6px 135.8px 0;
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.vector-27 {
  width: 30px;
  height: 24.3px;
}
.frame {
  margin: 4.9px 26px 12.8px 0;
  display: flex;
  width: 36px;
  height: 29.2px;
  box-sizing: border-box;
}
.paramtre {
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 28px;
  color: var(--noir, #000000);
}
.container-15 {
  margin-right: 31.5px;
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.container-16 {
  box-shadow: 0px 4px 38px 0px rgba(0, 0, 0, 0.11);
  background: #FFFFFF;
  position: relative;
  margin-right: 85px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10.5px 0 83.8px 0;
  width: 398px;
  box-sizing: border-box;
}
.rectangle-34625156 {
  border-radius: 10px;
  margin-right: 11px;
  width: 328px;
  height: 250px;
  margin-top: 3%;
}
.vector-58 {
  width: 16.7px;
  height: 21.9px;
}
.riuser-fill {
  margin: 7.8px 0 0.3px 0;
  display: flex;
  width: 25px;
  height: 25px;
  box-sizing: border-box;
}
.elena-diouf {
  margin-bottom: 6px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: var(--inria-20-font-family, 'Inria Sans');
  font-weight: var(--inria-20-font-weight, 400);
  font-size: var(--inria-20-font-size, 20px);
  color: #000000;
}
.polygon-6 {
  margin-top: 5px;
  width: 43px;
  height: 25px;
}
.container-10 {
  margin: 0 34px 7px 8.5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 557.5px;
  box-sizing: border-box;
}
.vector-71 {
  background: #408A7E;
  width: 600px;
  height: 0px;
}
.group-1000004792 {
  margin-bottom: 79px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 600px;
  box-sizing: border-box;
}
.creer-un-client {
  overflow-wrap: break-word;
  font-family: var(--inria-20-font-family, 'Inria Sans');
  font-weight: var(--inria-20-font-weight, 400);
  font-size: var(--inria-20-font-size, 20px);
  color: #000000;
}
.group-1000004778 {
  border-radius: 10px;
  background: #408A7E;
  position: relative;
  margin-right: 30px;
  display: inline-block;
  padding: 10px 17.2px 37px 0;
  width: 220px;
  height: 30px;
  margin-top: 20%;
  box-sizing: border-box;
}
.container-8 {
  margin: 41px 58px 40px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 900px;
  height: fit-content;
  box-sizing: border-box;
}
.creer {
  overflow-wrap: break-word;
  font-family: var(--inria-font-family, 'Inria Sans');
  font-weight: var(--inria-font-weight, 400);
  font-size: var(--inria-font-size, 32px);
  color: #000000;
}
.group-bouton {
  border-radius: 25px;
  border: 1px solid #408A7E;
  background: #FFFFFF;
  position: relative;
  margin: 41px 0 168px 0;
  display: flex;
padding: 20px;
  width: 150px;
  height: 15px;
  height: fit-content;
  box-sizing: border-box;
}
.container-3 {
  display: flex;
  flex-direction: row;
  width: 1218px;
  box-sizing: border-box;
  margin-left: 30%;
}
.vector-59 {
  width: 18.8px;
  height: 12.5px;
}
.mditext {
  margin: 13.3px 0 0.3px 0;
  display: flex;
  width: 25px;
  height: 25px;
  box-sizing: border-box;
}
.aicha {
  margin-bottom: 2px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: var(--inria-20-font-family, 'Inria Sans');
  font-weight: var(--inria-20-font-weight, 400);
  font-size: var(--inria-20-font-size, 20px);
  color: #000000;
}
.polygon-61 {
  margin-top: 1px;
  width: 43px;
  height: 25px;
}
.container-7 {
  margin: 0 24.2px 11px 7.1px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 698.9px;
  box-sizing: border-box;
}
.vector-711 {
  background: #408A7E;
  width: 730.2px;
  height: 0px;
}
.group-1000004791 {
  margin: 0 4px 39px 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: flex-start;
  width: 730.2px;
  box-sizing: border-box;
}
.vector-60 {
  width: 16.7px;
  height: 21.9px;
}
.riuser-fill-1 {
  margin: 7.8px 0 0.3px 0;
  display: flex;
  width: 25px;
  height: 25px;
  box-sizing: border-box;
}
.maloum-diop {
  margin-bottom: 6px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: var(--inria-20-font-family, 'Inria Sans');
  font-weight: var(--inria-20-font-weight, 400);
  font-size: var(--inria-20-font-size, 20px);
  color: #000000;
}
.polygon-62 {
  margin-top: 5px;
  width: 43px;
  height: 25px;
}
.container-14 {
  margin: 0 24.2px 7px 8.5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 697.5px;
  box-sizing: border-box;
}
.vector-712 {
  background: #408A7E;
  width: 730.2px;
  height: 0px;
}
.group-10000047921 {
  margin: 0 4px 37px 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: flex-start;
  width: 730.2px;
  box-sizing: border-box;
}
.claritycalendar-line-1 {
  margin-top: 7.1px;
  width: 34px;
  height: 27.6px;
}
.container {
  margin-bottom: 10.7px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: var(--inria-20-font-family, 'Inria Sans');
  font-weight: var(--inria-20-font-weight, 400);
  font-size: var(--inria-20-font-size, 20px);
  color: #000000;
}
.container-23 {
  margin: 0 4px 2.3px 4px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: flex-start;
  width: 182.2px;
  box-sizing: border-box;
}
.vector-713 {
  background: #408A7E;
  width: 730.2px;
  height: 0px;
}
.group-1000004793 {
  margin-bottom: 39px;
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  width: 730.2px;
  box-sizing: border-box;
}
.claritycalendar-line-2 {
  margin-top: 7.1px;
  width: 34px;
  height: 27.6px;
}
.container-1 {
  margin-bottom: 10.7px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: var(--inria-20-font-family, 'Inria Sans');
  font-weight: var(--inria-20-font-weight, 400);
  font-size: var(--inria-20-font-size, 20px);
  color: #000000;
}
.container-19 {
  margin: 0 4px 2.3px 4px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: flex-start;
  width: 177.4px;
  box-sizing: border-box;
}
.vector-714 {
  background: #408A7E;
  width: 730.2px;
  height: 0px;
}
.group-1000004794 {
  margin: 0 4px 76px 4px;
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  width: 730.2px;
  box-sizing: border-box;
}
.tches {
  overflow-wrap: break-word;
  font-family: var(--inria-font-family, 'Inria Sans');
  font-weight: var(--inria-font-weight, 400);
  font-size: var(--inria-font-size, 32px);
  color: #000000;
}
.container {
  background: #408A7E;
  position: relative;
  margin-right: 82px;
  display: flex;
  padding: 30px 40px 32px 0;
  width: 931px;
  box-sizing: border-box;
}
.vector-96 {
  width: 14px;
  height: 14px;
}
.icround-plus {
  margin: 3px 14px 2px 0;
  display: flex;
  width: 24px;
  height: 24px;
  box-sizing: border-box;
}
.nouvelle-tche {
  overflow-wrap: break-word;
  font-family: 'Noto Sans';
  font-weight: 400;
  font-size: 14px;
  color: #FFFFFF;
}
.group-nouvel-commande {
  box-shadow: 0px 3px 50px 0px rgba(0, 0, 0, 0.08);
  border-radius: 4px;
  border: 0.5px solid #408A7E;
  background: #408A7E;
  position: relative;
  margin: 32px 0;
  display: flex;
  flex-direction: row;
  padding: 7.9px 0 9.1px 0;
  width: 217px;
  height: fit-content;
  box-sizing: border-box;
}
.container-11 {
  margin-left: 13px;
  display: flex;
  flex-direction: row;
  width: 1213px;
  box-sizing: border-box;
}
.container-17 {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 1226px;
  height: fit-content;
  box-sizing: border-box;
}
.dcoupage-du-tissu {
  margin: 0 19px 16px 0;
  display: inline-block;
  width: 268px;
  overflow-wrap: break-word;
  font-family: var(--inria-font-family, 'Inria Sans');
  font-weight: var(--inria-font-weight, 400);
  font-size: var(--inria-font-size, 32px);
  color: #000000;
}
.diouf {
  margin-bottom: 16px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: var(--inria-font-family, 'Inria Sans');
  font-weight: var(--inria-font-weight, 400);
  font-size: var(--inria-font-size, 32px);
  color: #000000;
}
.container-2 {
  margin-bottom: 16px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: var(--inria-font-family, 'Inria Sans');
  font-weight: var(--inria-font-weight, 400);
  font-size: var(--inria-font-size, 32px);
  color: #000000;
}
.vector-93 {
  width: 20.8px;
  height: 18.6px;
}
.dashiconsyes {
  display: flex;
  width: 40px;
  height: 40px;
  box-sizing: border-box;
}
.group-1000004900 {
  border-radius: 10px;
  border: 1px solid #000000;
  background: #408A7E;
  position: relative;
  margin: 1px 18px 0 0;
  display: flex;
  padding: 16.8px 18.7px 17.6px 16.6px;
  width: 56px;
  height: 53px;
  box-sizing: border-box;
}
.vector-94 {
  width: 42px;
  height: 39.8px;
}
.material-symbolsedit-outline {
  border-radius: 10px;
  background: var(--vert, #408A7E);
  margin: 0 25px 1px 0;
  display: flex;
  padding: 6.6px 7px;
  width: 56px;
  height: 53px;
  box-sizing: border-box;
}
.vector-95 {
  width: 32.7px;
  height: 34.8px;
}
.material-symbols-lightdelete-outline {
  border-radius: 10px;
  background: var(--red, #D23B3B);
  margin-bottom: 1px;
  display: flex;
  padding: 9.3px 11.7px 8.8px 11.7px;
  width: 56px;
  height: 53px;
  box-sizing: border-box;
}
.container-1 {
  display: flex;
  flex-direction: row;
  width: 211px;
  height: fit-content;
  box-sizing: border-box;
}
.group-1000004901 {
  border-radius: 15px;
  background: #D9D9D9;
  position: absolute;
  right: -22px;
  bottom: -159px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 43px 20px 30px 84px;
  width: 1249px;
  height: 127px;
  box-sizing: border-box;
}
.frame-49 {
  position: relative;
  margin: 12.9px 0 9px 0;
  display: flex;
  width: 1249px;
  height: fit-content;
  box-sizing: border-box;
}
.container-22 {
  margin-right: 103px;
  display: flex;
  flex-direction: row;
  width: 1709px;
  box-sizing: border-box;
}
.container-20 {
  position: relative;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.my-artist-logo-1 {
  background: url('../assets/images/my_artist_logo_1.png') 50% / cover no-repeat;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 398px;
  height: 180.1px;
}

.custom-input {
  width: 400px;
  height: 50px;
  font-size: 16px;
  border: none;
  border-bottom: 2px solid green;
  outline: none;
  transition: border-color 0.3s ease-in-out;
  box-sizing: border-box;
}

.custom-input-2 {
  margin-right: 30%;
  width: 400px;
  height: 50px;
  font-size: 16px;
  border: none;
  border-bottom: 2px solid green;
  outline: none;
  transition: border-color 0.3s ease-in-out;
  box-sizing: border-box;
}
.custom-input-3 {
  width: 600px;
  height: 50px;
  font-size: 16px;
  border: none;
  border-bottom: 2px solid green;
  outline: none;
  transition: border-color 0.3s ease-in-out;
  box-sizing: border-box;
}

.custom-input-4 {
  width: 200px;
  height: 50px;
  font-size: 16px;
  border: none;
  border-bottom: 2px solid green;
  outline: none;
  transition: border-color 0.3s ease-in-out;
  box-sizing: border-box;
}

.custom-input::placeholder {
  font-size: 24px; /* Adjust this size as needed */
  color: #a0a0a0; /* Optional: change the color of the placeholder text */
}


.custom-input:focus {
  border-bottom: 2px solid darkgreen;
}

.popup {
  display: none;
}

.mingcuteclose-fill {
  margin-bottom: 18.6px;
  display: flex;
  align-self: flex-end;
  width: 50px;
  height: 50px;
  box-sizing: border-box;
}

.group-bouton-2 {
  border-radius: 10px;
  border: 1px solid #408A7E;
  background: #408A7E;
  position: relative;
  margin: 23.1px 0 536px 0;
  display: flex;
  padding: 11.7px 0 13.2px 4.8px;
  width: 166px;
  height: fit-content;
  box-sizing: border-box;
  align-items: center; 
  justify-content: center;
  margin-left: 35%;
}

.group-1000004708 {
  border-radius: 8px;
  border: 2px solid #408A7E;
  background: #FFFEFE;
  position: absolute;
  left: 8px;
  right: 0px;
  bottom: 0px;
  display: flex;
  flex-direction: column;
  padding: 19.6px 29.6px 33px 56px;
  box-sizing: border-box;
  width: 800px;
  height: 600px;
  margin-left: 30%;
  margin-bottom: 12%;
}

.vector-97 {
  width: 22.8px;
  height: 22.8px;
}

#preview img {
  margin-right: 10px;
  border: 2px solid #ccc;
  padding: 5px;
  background-color: #fff;
  transition: transform 0.2s ease-in-out;
}

#preview img:hover {
  transform: scale(1.05);
}