.ellipse-11 {
  border-radius: 18px;
  background: #FFFFFF;
  position: absolute;
  top: 50%;
  right: 158px;
  translate: 0 -50%;
  width: 36px;
  height: 36px;
}
.vector-2 {
  margin: 20px 27.5px 36.4px 0;
  width: 20.8px;
  height: 16.6px;
}
.vector-1 {
  width: 20.3px;
  height: 22.7px;
}
.carbonnotification {
  margin: 17.8px 65.3px 32.6px 0;
  display: flex;
  width: 25px;
  height: 25px;
  box-sizing: border-box;
}
.nom {
  margin: 0 1px 4px 1px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Noto Sans';
  font-weight: 600;
  font-size: 20px;
  color: var(--blanc, #FFFFFF);
}
.administrateur {
  overflow-wrap: break-word;
  font-family: 'Noto Sans';
  font-weight: 400;
  font-size: 14px;
  color: var(--blanc, #FFFFFF);
}
.container-21 {

  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.group-1000004649 {
  margin-right: 14px;
  width: 70px;
  height: 73px;
}
.polygon-1 {
  border-radius: 2px;
  margin: 35px 0 17px 0;
  width: 23px;
  height: 21px;
}
.container-9 {
  position: relative;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.ellipse-1810 {
  border-radius: 5px;
  background: #BF1212;
  position: absolute;
  top: 50%;
  right: 438px;
  translate: 0 -50%;
  width: 10px;
  height: 10px;
}
.ellipse-1811 {
  border-radius: 5px;
  background: #BF1212;
  position: absolute;
  top: 50%;
  right: 489px;
  translate: 0 -50%;
  width: 10px;
  height: 10px;
}
.container {
  background: #408A7E;
  position: relative;
  display: flex;
  padding: 44px 145px 11px 145px;
  box-sizing: border-box;
}
.group-1000004754 {
  position: relative;
  margin: 0 0 1px 48px;
  box-sizing: border-box;
}
.vector-44 {
  width: 13.3px;
  height: 7.8px;
}
.group {
  margin-bottom: 2px;
  display: flex;
  width: 13.3px;
  height: 7.8px;
  box-sizing: border-box;
}
.vector-45 {
  width: 13.3px;
  height: 13.7px;
}
.group-1 {
  display: flex;
  width: 13.3px;
  height: 13.7px;
  box-sizing: border-box;
}
.container-23 {
  margin-right: 2.4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 13.3px;
  box-sizing: border-box;
}
.vector-47 {
  width: 13.3px;
  height: 13.7px;
}
.group-3 {
  margin-bottom: 2px;
  display: flex;
  width: 13.3px;
  height: 13.7px;
  box-sizing: border-box;
}
.vector-46 {
  width: 13.3px;
  height: 7.8px;
}
.group-2 {
  display: flex;
  width: 13.3px;
  height: 7.8px;
  box-sizing: border-box;
}
.container-35 {
  margin-bottom: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 13.3px;
  box-sizing: border-box;
}
.menu-1 {
  margin: 2.4px 26px 10px 0;
  display: flex;
  flex-direction: row;
  width: 29px;
  height: fit-content;
  box-sizing: border-box;
}
.tableau-de-bord {
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 24px;
  color: var(--noir, #000000);
}
.group-12 {
  margin: 0 0 44.3px 11px;
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.group-4 {
  width: 34px;
  height: 34.7px;
}
.frame-5 {
  margin: 0 20px 3.7px 0;
  display: flex;
  width: 34px;
  height: 34.7px;
  box-sizing: border-box;
}
.agents {
  margin-top: 2.4px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 24px;
  color: var(--noir, #000000);
}
.container-36 {
  margin: 0 105.8px 38.6px 0;
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.claritycalendar-line {
  margin: 5.1px 25px 3.4px 0;
  width: 34px;
  height: 27.6px;
}
.calendrier {
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 24px;
  color: var(--noir, #000000);
}
.container-15 {
  margin: 0 80.9px 39.1px 0;
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.product {
  width: 31px;
  height: 27.5px;
}
.frame-3 {
  margin: 4.3px 25px 4.2px 0;
  display: flex;
  width: 31px;
  height: 27.5px;
  box-sizing: border-box;
}
.commandes {
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 24px;
  color: var(--noir, #000000);
}
.container-26 {
  margin: 0 45.2px 39.1px 0;
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.guarantee-1 {
  margin: 3.6px 24px 6.4px 0;
  width: 32px;
  height: 26px;
}
.notes-et-avis {
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 24px;
  color: var(--noir, #000000);
}
.group-9 {
  margin: 0 50.8px 39.1px 0;
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.bill-1 {
  margin: 1.4px 24px 7px 0;
  width: 34px;
  height: 27.6px;
}
.recus {
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 24px;
  color: var(--noir, #000000);
}
.container-22 {
  margin: 0 125.8px 39.1px 0;
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.document-3 {
  margin: 0.7px 24px 6.1px 0;
  width: 36px;
  height: 29.2px;
}
.rapports {
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 24px;
  color: var(--noir, #000000);
}
.group-21 {
  margin: 0 90.9px 42px 0;
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.vector-73 {
  width: 34.9px;
  height: 21.7px;
}
.mingcuteshop-line {
  margin: 4.7px 22.6px 9.6px 0;
  display: flex;
  width: 40px;
  height: 32.5px;
  box-sizing: border-box;
}
.boutique {
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 24px;
  color: var(--noir, #000000);
}
.group-22 {
  margin: 0 90.6px 135.8px 0;
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.vector-43 {
  width: 30px;
  height: 24.3px;
}
.frame {
  margin: 4.9px 26px 12.8px 0;
  display: flex;
  width: 36px;
  height: 29.2px;
  box-sizing: border-box;
}
.paramtre {
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 28px;
  color: var(--noir, #000000);
}
.container-25 {
  margin-right: 31.5px;
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.container-16 {
  box-shadow: 0px 4px 38px 0px rgba(0, 0, 0, 0.11);
  background: #FFFFFF;
  position: relative;
  margin-top: 53.1px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10.5px 0 83.8px 0;
  width: 398px;
  height: fit-content;
  box-sizing: border-box;
}
.messagerie {
  margin: 2px 13.5px 0 0;
  display: inline-block;
  width: 121.7px;
  overflow-wrap: break-word;
  font-family: 'Noto Sans';
  font-weight: 700;
  font-size: 20px;
  color: #285D54;
  height: 10px;
}
.vector {
  width: 20.9px;
  height: 19.8px;
}
.mingcuteadd-fill {
  box-shadow: 0px 20px 4px 0px rgba(0, 0, 0, 0.25);
  background: #FFFFFF;
  margin-bottom: 4px;
  display: flex;
  padding: 2.6px 2.8px;
  width: 26.5px;
  height: 25px;
  box-sizing: border-box;
}
.group-1000004775 {
  border-radius: 4px;
  background: #F2F5F5;
  position: relative;
  margin-bottom: 798px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 34px 0 36px 0;
  width: 619px;
  height: 10px;
  height: fit-content;
  box-sizing: border-box;
}
.container-32 {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 1017px;
  height: fit-content;
  box-sizing: border-box;
}
.rectangle-34625210 {
  background: var(--blanc, #FFFFFF);
  position: absolute;
  right: 0px;
  bottom: -471px;
  width: 615px;
  height: 1180px;
}
.group-10000047774 {
  margin-right: 24.5px;
  width: 65.5px;
  height: 61.6px;
}
.awa-diop-3 {
  margin-bottom: 4px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Noto Sans';
  font-weight: 600;
  font-size: 15px;
  color: #000000;
}
.lorem-ipsum-is-simply-dummy-2 {
  overflow-wrap: break-word;
  font-family: 'Noto Sans';
  font-weight: 400;
  font-size: 12px;
  color: #878787;
}
.container-6 {
  margin: 7px 0 14.6px 0;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.container-12 {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.container-4 {
  overflow-wrap: break-word;
  font-family: var(--inria-20-font-family, 'Inria Sans');
  font-weight: var(--inria-20-font-weight, 400);
  font-size: var(--inria-20-font-size, 20px);
  color: #FFFFFF;
}
.group-10000044394 {
  border-radius: 11px;
  background: #408A7E;
  position: relative;
  margin: 18px 0 13.6px 0;
  display: flex;
  padding: 2.2px 11.3px 3.8px 9.8px;
  box-sizing: border-box;
}
.group-unite-message-4 {
  background: #FFFFFF;
  position: relative;
  margin-bottom: 3px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 24px 0 11.4px 41px;
  width: 616px;
  box-sizing: border-box;
}
.group-10000047775 {
  margin-right: 24.5px;
  width: 65.5px;
  height: 61.6px;
}
.awa-diop-6 {
  margin-bottom: 4px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Noto Sans';
  font-weight: 600;
  font-size: 15px;
  color: #000000;
}
.lorem-ipsum-is-simply-dummy-5 {
  overflow-wrap: break-word;
  font-family: 'Noto Sans';
  font-weight: 400;
  font-size: 12px;
  color: #878787;
}
.container-11 {
  margin: 7px 0 14.6px 0;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.container-2 {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.container-5 {
  overflow-wrap: break-word;
  font-family: var(--inria-20-font-family, 'Inria Sans');
  font-weight: var(--inria-20-font-weight, 400);
  font-size: var(--inria-20-font-size, 20px);
  color: #FFFFFF;
}
.group-10000044395 {
  border-radius: 11px;
  background: #408A7E;
  position: relative;
  margin: 18px 0 13.6px 0;
  display: flex;
  padding: 2.2px 11.3px 3.8px 9.8px;
  box-sizing: border-box;
}
.group-unite-message-5 {
  background: #FFFFFF;
  position: relative;
  margin-bottom: 3px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 24px 0 11.4px 41px;
  width: 616px;
  box-sizing: border-box;
}
.group-10000047776 {
  margin-right: 24.5px;
  width: 65.5px;
  height: 61.6px;
}
.awa-diop-7 {
  margin-bottom: 4px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Noto Sans';
  font-weight: 600;
  font-size: 15px;
  color: #000000;
}
.lorem-ipsum-is-simply-dummy-6 {
  overflow-wrap: break-word;
  font-family: 'Noto Sans';
  font-weight: 400;
  font-size: 12px;
  color: #878787;
}
.container-4 {
  margin: 7px 0 14.6px 0;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.container-1 {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.container-6 {
  overflow-wrap: break-word;
  font-family: var(--inria-20-font-family, 'Inria Sans');
  font-weight: var(--inria-20-font-weight, 400);
  font-size: var(--inria-20-font-size, 20px);
  color: #FFFFFF;
}
.group-10000044396 {
  border-radius: 11px;
  background: #408A7E;
  position: relative;
  margin: 18px 0 13.6px 0;
  display: flex;
  padding: 2.2px 11.3px 3.8px 9.8px;
  box-sizing: border-box;
}
.group-unite-message-6 {
  background: #FFFFFF;
  position: relative;
  margin-bottom: 3px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 24px 0 11.4px 41px;
  width: 616px;
  box-sizing: border-box;
}
.group-10000047777 {
  margin-right: 24.5px;
  width: 65.5px;
  height: 61.6px;
}
.awa-diop-8 {
  margin-bottom: 4px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Noto Sans';
  font-weight: 600;
  font-size: 15px;
  color: #000000;
}
.lorem-ipsum-is-simply-dummy-7 {
  overflow-wrap: break-word;
  font-family: 'Noto Sans';
  font-weight: 400;
  font-size: 12px;
  color: #878787;
}
.container-14 {
  margin: 7px 0 14.6px 0;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.container-17 {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.container-7 {
  overflow-wrap: break-word;
  font-family: var(--inria-20-font-family, 'Inria Sans');
  font-weight: var(--inria-20-font-weight, 400);
  font-size: var(--inria-20-font-size, 20px);
  color: #FFFFFF;
}
.group-10000044397 {
  border-radius: 11px;
  background: #408A7E;
  position: relative;
  margin: 18px 0 13.6px 0;
  display: flex;
  padding: 2.2px 11.3px 3.8px 9.8px;
  box-sizing: border-box;
}
.group-unite-message-7 {
  background: #FFFFFF;
  position: relative;
  margin-bottom: 3px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 24px 0 11.4px 41px;
  width: 616px;
  box-sizing: border-box;
}
.group-10000047778 {
  margin-right: 24.5px;
  width: 65.5px;
  height: 61.6px;
}
.awa-diop-9 {
  margin-bottom: 4px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Noto Sans';
  font-weight: 600;
  font-size: 15px;
  color: #000000;
}
.lorem-ipsum-is-simply-dummy-8 {
  overflow-wrap: break-word;
  font-family: 'Noto Sans';
  font-weight: 400;
  font-size: 12px;
  color: #878787;
}
.container-34 {
  margin: 7px 0 14.6px 0;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.container-19 {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.container-8 {
  overflow-wrap: break-word;
  font-family: var(--inria-20-font-family, 'Inria Sans');
  font-weight: var(--inria-20-font-weight, 400);
  font-size: var(--inria-20-font-size, 20px);
  color: #FFFFFF;
}
.group-10000044398 {
  border-radius: 11px;
  background: #408A7E;
  position: relative;
  margin: 18px 0 13.6px 0;
  display: flex;
  padding: 2.2px 11.3px 3.8px 9.8px;
  box-sizing: border-box;
}
.group-unite-message-8 {
  background: #FFFFFF;
  position: relative;
  margin-bottom: 3px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 24px 0 11.4px 41px;
  width: 616px;
  box-sizing: border-box;
}
.group-10000047779 {
  margin-right: 24.5px;
  width: 65.5px;
  height: 61.6px;
}
.awa-diop-10 {
  margin-bottom: 4px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Noto Sans';
  font-weight: 600;
  font-size: 15px;
  color: #000000;
}
.lorem-ipsum-is-simply-dummy-9 {
  overflow-wrap: break-word;
  font-family: 'Noto Sans';
  font-weight: 400;
  font-size: 12px;
  color: #878787;
}
.container-10 {
  margin: 7px 0 14.6px 0;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.container-5 {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.container-9 {
  overflow-wrap: break-word;
  font-family: var(--inria-20-font-family, 'Inria Sans');
  font-weight: var(--inria-20-font-weight, 400);
  font-size: var(--inria-20-font-size, 20px);
  color: #FFFFFF;
}
.group-10000044399 {
  border-radius: 11px;
  background: #408A7E;
  position: relative;
  margin: 18px 0 13.6px 0;
  display: flex;
  padding: 2.2px 11.3px 3.8px 9.8px;
  box-sizing: border-box;
}
.group-unite-message-9 {
  background: #FFFFFF;
  position: relative;
  margin-bottom: 3px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 24px 0 11.4px 41px;
  width: 616px;
  box-sizing: border-box;
}
.group-100000477710 {
  margin-right: 24.5px;
  width: 65.5px;
  height: 61.6px;
}
.awa-diop-11 {
  margin-bottom: 4px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Noto Sans';
  font-weight: 600;
  font-size: 15px;
  color: #000000;
}
.lorem-ipsum-is-simply-dummy-10 {
  overflow-wrap: break-word;
  font-family: 'Noto Sans';
  font-weight: 400;
  font-size: 12px;
  color: #878787;
}
.container-20 {
  margin: 7px 0 14.6px 0;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.container-29 {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.container-10 {
  overflow-wrap: break-word;
  font-family: var(--inria-20-font-family, 'Inria Sans');
  font-weight: var(--inria-20-font-weight, 400);
  font-size: var(--inria-20-font-size, 20px);
  color: #FFFFFF;
}
.group-100000443910 {
  border-radius: 11px;
  background: #408A7E;
  position: relative;
  margin: 18px 0 13.6px 0;
  display: flex;
  padding: 2.2px 11.3px 3.8px 9.8px;
  box-sizing: border-box;
}
.group-unite-message-10 {
  background: #FFFFFF;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 24px 0 11.4px 41px;
  width: 616px;
  box-sizing: border-box;
}
.container-18 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 616px;
  height: fit-content;
  box-sizing: border-box;
}
.group-1000004777 {
  margin-right: 24.5px;
  width: 65.5px;
  height: 61.6px;
}
.awa-diop-1 {
  margin-bottom: 4px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Noto Sans';
  font-weight: 600;
  font-size: 15px;
  color: #000000;
}
.lorem-ipsum-is-simply-dummy {
  overflow-wrap: break-word;
  font-family: 'Noto Sans';
  font-weight: 400;
  font-size: 12px;
  color: #878787;
}
.container-31 {
  margin: 7px 0 14.6px 0;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.container-33 {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.container {
  overflow-wrap: break-word;
  font-family: var(--inria-20-font-family, 'Inria Sans');
  font-weight: var(--inria-20-font-weight, 400);
  font-size: var(--inria-20-font-size, 20px);
  color: #FFFFFF;
}
.group-1000004439 {
  border-radius: 11px;
  background: #408A7E;
  position: relative;
  margin: 18px 0 13.6px 0;
  display: flex;
  padding: 2.2px 11.3px 3.8px 9.8px;
  box-sizing: border-box;
}
.group-unite-message {
  background: #FFFFFF;
  position: absolute;
  left: 50%;
  bottom: -100px;
  translate: -50% 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 24px 0 11.4px 41px;
  width: 616px;
  box-sizing: border-box;
}
.group-10000047771 {
  margin-right: 24.5px;
  width: 65.5px;
  height: 61.6px;
}
.awa-diop-2 {
  margin-bottom: 4px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Noto Sans';
  font-weight: 600;
  font-size: 15px;
  color: #000000;
}
.lorem-ipsum-is-simply-dummy-1 {
  overflow-wrap: break-word;
  font-family: 'Noto Sans';
  font-weight: 400;
  font-size: 12px;
  color: #878787;
}
.container-13 {
  margin: 7px 0 14.6px 0;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.container-7 {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.container-1 {
  overflow-wrap: break-word;
  font-family: var(--inria-20-font-family, 'Inria Sans');
  font-weight: var(--inria-20-font-weight, 400);
  font-size: var(--inria-20-font-size, 20px);
  color: #FFFFFF;
}
.group-10000044391 {
  border-radius: 11px;
  background: #408A7E;
  position: relative;
  margin: 18px 0 13.6px 0;
  display: flex;
  padding: 2.2px 11.3px 3.8px 9.8px;
  box-sizing: border-box;
}
.group-unite-message-1 {
  background: #FFFFFF;
  position: absolute;
  left: 50%;
  bottom: -200px;
  translate: -50% 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 24px 0 11.4px 41px;
  width: 616px;
  box-sizing: border-box;
}
.group-10000047772 {
  margin-right: 24.5px;
  width: 65.5px;
  height: 61.6px;
}
.awa-diop-4 {
  margin-bottom: 4px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Noto Sans';
  font-weight: 600;
  font-size: 15px;
  color: #000000;
}
.lorem-ipsum-is-simply-dummy-3 {
  overflow-wrap: break-word;
  font-family: 'Noto Sans';
  font-weight: 400;
  font-size: 12px;
  color: #878787;
}
.container-24 {
  margin: 7px 0 14.6px 0;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.container-8 {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.container-2 {
  overflow-wrap: break-word;
  font-family: var(--inria-20-font-family, 'Inria Sans');
  font-weight: var(--inria-20-font-weight, 400);
  font-size: var(--inria-20-font-size, 20px);
  color: #FFFFFF;
}
.group-10000044392 {
  border-radius: 11px;
  background: #408A7E;
  position: relative;
  margin: 18px 0 13.6px 0;
  display: flex;
  padding: 2.2px 11.3px 3.8px 9.8px;
  box-sizing: border-box;
}
.group-unite-message-2 {
  background: #FFFFFF;
  position: absolute;
  left: 50%;
  bottom: -300px;
  translate: -50% 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 24px 0 11.4px 41px;
  width: 616px;
  box-sizing: border-box;
}
.group-10000047773 {
  margin-right: 24.5px;
  width: 65.5px;
  height: 61.6px;
}
.awa-diop-5 {
  margin-bottom: 4px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Noto Sans';
  font-weight: 600;
  font-size: 15px;
  color: #000000;
}
.lorem-ipsum-is-simply-dummy-4 {
  overflow-wrap: break-word;
  font-family: 'Noto Sans';
  font-weight: 400;
  font-size: 12px;
  color: #878787;
}
.container-30 {
  margin: 7px 0 14.6px 0;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.container-38 {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.container-3 {
  overflow-wrap: break-word;
  font-family: var(--inria-20-font-family, 'Inria Sans');
  font-weight: var(--inria-20-font-weight, 400);
  font-size: var(--inria-20-font-size, 20px);
  color: #FFFFFF;
}
.group-10000044393 {
  border-radius: 11px;
  background: #408A7E;
  position: relative;
  margin: 18px 0 13.6px 0;
  display: flex;
  padding: 2.2px 11.3px 3.8px 9.8px;
  box-sizing: border-box;
}
.group-unite-message-3 {
  background: #FFFFFF;
  position: absolute;
  left: 50%;
  bottom: -400px;
  translate: -50% 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 24px 0 11.4px 41px;
  width: 616px;
  box-sizing: border-box;
}
.frame-13 {
  position: absolute;
  right: 4px;
  margin-top: 11%;
  display: flex;
  width: 616px;
  box-sizing: border-box;
}
.container-28 {
  position: relative;
  display: flex;
  align-self: flex-start;
  width: 1017px;
  box-sizing: border-box;
}
.container-37 {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 1860px;
  height: fit-content;
  box-sizing: border-box;
}
.my-artist-logo-1 {
  background: url('../assets/images/my_artist_logo_1.png') 50% / cover no-repeat;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 398px;
  height: 180.1px;
}
.ellipse-1823 {
  margin-right: 41.5px;
  width: 65.5px;
  height: 61.6px;
}
.awa-diop {
  margin: 5.3px 0 12.3px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: var(--inria-font-family, 'Inria Sans');
  font-weight: var(--inria-font-weight, 400);
  font-size: var(--inria-font-size, 32px);
  color: var(--blanc, #FFFFFF);
}
.container-27 {
  position: relative;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.vector-4 {
  width: 18.2px;
  height: 22.5px;
}
.riuser-fill {
  position: absolute;
  left: 70.1px;
  top: 50%;
  translate: 0 -50%;
  display: flex;
  width: 27.3px;
  height: 25.7px;
  box-sizing: border-box;
}
.cliente {
  position: absolute;
  left: 149.6px;
  bottom: 15.8px;
  overflow-wrap: break-word;
  font-family: 'Noto Sans';
  font-weight: 400;
  font-size: 14px;
  color: var(--blanc, #FFFFFF);
}
.container-3 {
  border-radius: 4px 4px 0 0;
  background: #408A7E;
  position: relative;
  margin-bottom: 680.2px;
  padding: 20.5px 45.9px 16.4px 45.9px;
  width: 1020px;
  height: 100px;
  box-sizing: border-box;
}
.group-1000004774 {
  width: 795px;
  height: 98.6px;
}
.group-partie-ecriture {
  background: #D9D9D9;
  position: absolute;
  right: 0px;
  bottom: 0px;
  display: flex;
  flex-direction: column;
  padding-bottom: 19.5px;
  box-sizing: border-box;
}

.message-input-section {
  width: 980px;
  height: 80px;
  background-color: rgb(230, 226, 226);
  margin-left: 1.5%;
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 10px;
}

.icon {
  color: white;
  font-size: 30px;
  margin: 0 15px;
  cursor: pointer;
}

.message-input {
  flex: 1;
  padding: 10px;
  background-color: white;
  border: none;
  border-radius: 20px;
  font-size: 16px;
  outline: none;
  margin: 0 10px;
}

.send-button {
  background-color: #25D366;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.send-button .mdi {
  color: white;
  font-size: 24px;
}
